<% if @test_passage.success? %>

<p>
  <h1><%=  t('.header', title: @test_passage.test.title) %> </h1>
  <span> Процент правильных ответов - </span>
  <span class="success"> <%= @test_passage.percent %> </span>
</p>

<% else %>

<p>
  <h1> Тест не пройден. </h1>
  <span> Вы ответили на - </span>
  <span class="fail"><%= @test_passage.percent %> </span>процентов
</p>

<% end %>

<p>
  <%= link_to 'Вернуться к тестам', tests_path %>
<p>
