<div style="
    bottom: 0;
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
">
  <span>Текущий год: <%= current_year %> Автор: Алексей</span>
  <span>Проект: <%= github_url('alex-b1', 'test-guru') %> Тесты, вопросы, ответы</span>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
</div>