<li>
  <td><%= answer.title %></td>
  <td><%= link_to t('element.link.show'), admin_answer_path(answer) %></td>
  <td><%= link_to t('element.link.edit'), edit_admin_answer_path(answer) %></td>
  <td><%= link_to t('element.link.delete'),
                  admin_answer_path(answer),
                  method: :delete,
                  data: {confirm: t('element.popup.confirm')} %>
  </td>
</li>