<li>
  <td><%= answer.title %></td>
  <td><%= link_to 'Показать', admin_answer_path(answer) %></td>
  <td><%= link_to 'Изменить', edit_admin_answer_path(answer) %></td>
  <td><%= link_to 'Удалить',
                  admin_answer_path(answer),
                  method: :delete,
                  data: {confirm: 'Вы уверены ?'} %>
  </td>
</li>