.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.nav.user {
  background-color: #f8baba;
}

.nav.admin {
  background-color: #ebccd1;
}

.logout {
  margin-left: 20px;
}

.right {
  display: flex;
  flex-direction: row;
}