.nav-controls.right {
  display: flex;
  flex-direction: row;
}

.badges {
  display: flex;
  flex-direction: row;
}

.count {
  padding-left: 10px;
}

.image {
  height: 20px;
  width: 20px;
}