// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.success {
  color: #3cbf5e;
}

.fail {
  color: #ca0d11;
}

.progress-wrap {
  position: relative;
  width: 100%;
  height: 5px;
}

.test-progress {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 5px;
  background-color: red;
}