<h1>Список тестов</h1>

<p><%=link_to 'Создать новый тест', new_admin_test_path %></p>

<table>
  <theader>
    <th>Название</th>
    <th>Уровень</th>
    <th>Всего вопросов</th>
    <th colspan="">Действия</th>
  </theader>

  <%= render @tests %>
</table>

