<h1>Список тестов</h1>

<table>
  <theader>
    <th>Название</th>
    <th>Уровень</th>
    <th>Всего вопросов</th>
    <th colspan="4">Действия</th>
  </theader>

  <%= render @tests %>
</table>

